.landingpage {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}


.navbar {
     position: absolute;
  top: 0;
  left: 0;
    animation-duration: 2s;
  animation-name: fadein;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.bulbBgL {
  height: 50vh;
  width: 50vh;
  position: absolute;
  left: -25vh;
  transform: rotate(10deg);
  animation-name: translatefromleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.bulbBgR {
  height: 50vh;
  width: 50vh;
  position: absolute;
  right: -25vh;
  transform: rotate(-10deg);

  animation-name: translatefromright;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}





@keyframes translatefromleft {
  0% {
    display: none;
    transform: rotate(0) scale(0.1);
    left: -100vh;
    opacity: 0;
  }
  100% {
    display: block;
    transform: rotate(10deg) scale(1);
    left: -25vh;
    opacity: 1;
  }
}

@keyframes translatefromright {
  0% {
    display: none;
    transform: rotate(0) scale(0.1);
    transform: rotate(0) scale(0.1);
    right: -100vh;
    opacity: 0;
  }
  100% {
    display: block;
    transform: rotate(-10deg) scale(1);
    right: -25vh;
    opacity: 1;
  }
}

.maincontent {
  /* width: 100%; */
  z-index: 2;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.logocontent {
  position: relative;
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes fadein {
  80% {
    transform: scale(0.4);
    opacity: 0;
  }
  100% {
     transform: scale(1);
    opacity: 1;
  }
}

.heading {
  width: 100%;
  font-size: 10rem;
  margin: 0px;
  padding: 0;
  font-weight: 600;
  animation: scaledtranslate 2s cubic-bezier(0.19, 1, 0.22, 1) ;
  /* animation-duration: 0.9s; */
  /* animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1); */
  white-space: nowrap;
}


@keyframes scaledtranslate {
  0% {
    transform: scale(10) translate(100vw);
  }
  30%{
    transform: scale(10) translate(0vw);
  }
  60%{
transform: scale(1) ;
  }
  100% {
    
  }
}




.subtitle {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 10px;
  margin: 0;
  text-align: center;
  width: 100%;
  position: relative;
  top: -10px;
  margin-bottom: 10px;
  animation-name: contract;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  white-space: nowrap;
  overflow: scroll;
}

@keyframes contract {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
    letter-spacing: 50px;
  }
  100% {
    opacity: 1;
    letter-spacing: 10px;
  }
}

.description {
  width: 60vw;
  margin-bottom: 40px;
  font-size: 22px;
  animation-duration: 1.7s;
  animation-name: fadein;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes fadein {
  0% {
   opacity: 0;
  }

  70% {
 opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.actionbuttoncontainer {
  width: 500px;
  display: flex;
  justify-content: space-around;
  animation-duration: 2s;
  animation-name: fadein;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.explorebtn {
  border: none;
  border-radius: 100px;
  background: black;
  color: white;
  min-width: 200px;
  padding: 13px;
}

.bottomillus {
  /* width: 50%; */
  height: 14vh;
  position: absolute;
  
  bottom: 0;
  animation-duration: 1.2s;
  animation-name: elevate;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes elevate {
  0% {
   opacity: 0;
  }

  70% {
 opacity: 0;
 transform:translateY(20px);
  }
  
  100% {
    opacity: 1;
    transform:translateY(0px);
  }
}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .bulbBgL {
    display: none;
  }

  .bulbBgR {
    display: none;
  }

  .heading {
    /* width: 100%; */
    font-size: 79px;
    /* margin: 0px; */
    /* padding: 0; */
    font-weight: 600;
  }
  .subtitle {
    font-size: 22px;
  }
  .description {
    font-size: 14px;
    width: 80vw;
  }

  .actionbuttoncontainer {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .bottomillus {
    width: 90%;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 720px) {
  .bulbBgL {
    display: none;
  }

  .bulbBgR {
    display: none;
  }
  .heading {
    /* width: 100%; */
    font-size: 89px;
    /* margin: 0px; */
    /* padding: 0; */
    font-weight: 600;
  }
  .subtitle {
    font-size: 26px;
  }
  .description {
    font-size: 16px;
    width: 80vw;
    max-width: 600px;
  }

  .actionbuttoncontainer {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .bottomillus {
    width: 80%;
  }
}

@media (min-width: 720px) and (max-width: 1030px) {
  .bulbBgL {
    height: 30vh;
    width: 30vh;
    left: -15vh;
    top: 20vh;
  }

  .bulbBgR {
    height: 30vh;
    width: 30vh;
    right: -15vh;
    top: 20vh;
  }
  .bottomillus {
    width: 90%;
  }
}

@media (max-height: 720px) and (max-width: 1030px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
  }
}
