.container {
  max-width: 60vw;
}

.subheading {
  font-size: 40px;
  margin: 0px;
}

.description {
  font-size: 22px;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .container {
    max-width: 90vw;
  }
  .subheading {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .description {
    font-size: 16px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    max-width: 90vw;
  }
  .subheading {
    font-size: 26px;
    margin: 0;
  }
  .description {
    font-size: 16px;
  }
}